@media screen and (max-width: 1024px) {
  .form {
    width: 28rem;
    height: 21rem;
  }

  .inputText {
    font-size: 1.1rem;
    font-weight: 600;
    margin: 0;
  }

  .inputSpace {
    height: 2rem;
    border: solid 2px #303047;
    margin-bottom: 1rem;
  }

  .joinNowBtn {
    margin: 0;
    font-size: 0.85rem;
    font-weight: 400;
  }
}
