@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.Header {
  background: #302f39;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.LogoContainer {
  display: flex;
  align-items: center;
}
.Logo {
  margin-right: 10px;
  z-index: 2;
}
.ParrafoLogo {
  color: white;
  margin-left: 10px;
  font-family: "Poppins", sans-serif;
  z-index: 2;
}
nav {
  display: flex;
  flex-direction: row;
  align-items: center;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  color: white;
}

li {
  margin-left: 20px;
  font-family: "Poppins", sans-serif;
}

/* .active-link {
  font-weight: bold;
  padding-bottom: 0.25rem;
  border-bottom: thin solid black;
} */
