.main {
  background-color: #302e3a;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.content-main {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  z-index: 2;
}

.imageGirl {
  display: flex;
  justify-content: start;
  z-index: 1;
}

.imageGirl img {
  max-width: 70%;
  height: auto;
}

.first-content {
  margin: 0;
  color: white;
  font-size: 36px;
  z-index: 2;
}

.second-content {
  margin: 0;
  color: white;
}

.container-button {
  margin: 0;
  background-color: #1762a7;
  color: white;
  border-radius: 7px;
  width: 60px;
  height: 25px;
  font-size: 8px;
  border-color: #1762a7;
  border: #1762a7;
}

.circlePurple {
  position: absolute;
  width: 400px;
  height: 400px;
  left: 450px;
  top: 30px;
  background-color: #303047;
  z-index: 1;
  border-radius: 50%;
}

.circleViolet {
  position: absolute;
  width: 400px;
  height: 400px;
  left: -150px;
  bottom: 50px;
  background-color: #412c41;
  z-index: 1;
  border-radius: 50%;
}

.circlebigViolet {
  position: absolute;
  width: 600px;
  height: 600px;
  left: 980px;
  bottom: -200px;
  background-color: #303047;
  z-index: 1;
  border-radius: 50%;
}

/* Media Query Movil*/

@media (max-width: 480px) {
  .main {
    width: 100%;
    height: 100vh;
  }

  .first-content {
    position: relative;
    display: flex;
    margin-right: 290px;
    margin-left: 10px;
    font-size: 50px;
    top: 20px;
  }

  .second-content {
    position: relative;
    margin-right: 50px;
    margin-left: 10px;
    left: 20px;
    right: 110px;
    font-size: 10px;
  }

  .container-button {
    position: relative;
    margin-right: 350px;
    margin-left: 10px;
    left: 50px;
    right: 20px;
  }

  .image {
    position: relative;
    display: none;
  }

  .circlePurple {
    display: flex;
    width: 100px;
    height: 100px;
    margin-left: 20px;
    left: 20px;
  }

  .circleViolet {
    position: relative;
    width: 300px;
    height: 300px;
    margin-right: 550px;
    left: 300px;
    right: 50px;
    bottom: 180px;
  }

  .circlebigViolet {
    position: relative;
    display: flex;
    width: 300px;
    height: 300px;
    margin-right: 550px;
  }
}

/* Media Query Tablet*/

@media (max-width: 1024px) {
  .main {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #302e3a;
    z-index: -1;
  }

  .image {
    position: absolute;
    display: flex;
    margin-left: 10px;
    margin-right: 70px;
    left: 20%;
    width: 150vh;
    height: 60vh;
  }

  .content-main {
    width: 100vh;
    height: 100vh;
    margin-top: 0;
  }

  .first-content {
    margin-left: 150px;
    margin-right: 20px;
    margin-top: 50px;
    font-size: 30px;
  }

  .second-content {
    margin-left: 240px;
    margin-right: 20px;
    margin-bottom: 10px;
    font-size: 15px;
  }

  .container-button {
    margin-right: 30px;
    margin-left: 1px;
    margin-top: 50px;
  }

  .circlePurple {
    width: 300px;
    height: 300px;
    margin-right: 500px;
    right: auto;
    left: 5px;
    top: 45vh;
  }

  .circleViolet {
    width: 300px;
    height: 300px;
    margin-right: 550px;
    left: 300px;
    right: 50px;
    bottom: 180px;
  }

  .circlebigViolet {
    display: none;
  }
}
